.userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

button {
    margin: 10px;
 }

h1 {
    display: flex;
    justify-content: center;
}

body{
    font-size: 0.9rem;
}

.hidden {
    display: none;
  }



 /* .inputBox {
    padding: 1px;
    border-style: solid;
    border-width: 1px;
 } */


